* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.light {
  --bg: #f5f7fb;
  --card: #ffffff;
  --text: #111827;
}

.dark {
  --bg: #020617;
  --card: #0f172a;
  --text: #e5e7eb;
}

.app {
  display: flex;
  height: 100vh;
  background: var(--bg);
  color: var(--text);
}

.sidebar {
  width: 260px;
  background: #0f172a;
  color: white;
  padding: 25px;
  transition: 0.3s;
}

.sidebar.collapsed {
  width: 80px;
}

.top {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  border-radius: 10px;
  color: #cbd5e1;
  text-decoration: none;
  margin-bottom: 10px;
}

.menu:hover {
  background: #1e293b;
  color: white;
}

.content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}
