.csvpro-container {
  max-width: 5000px;
  margin: auto;
}

.csvpro-header {
  margin-bottom: 35px;
}

.csvpro-header p {
  opacity: 0.7;
}

.upload-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* upload card */
.upload-zone {
  width: 520px;          /* 👈 center size */
  max-width: 95%;
  background: var(--card);
  border-radius: 26px;
  padding: 55px 40px;
  text-align: center;
  border: 2px dashed #3b82f6;
  cursor: pointer;
  transition: 0.35s ease;
}

.upload-zone:hover {
  background: rgba(59,130,246,0.06);
  transform: translateY(-5px);
}

.upload-zone span {
  opacity: 0.7;
}

.file-ok {
  margin-top: 15px;
  color: #22c55e;
  font-weight: 600;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background: #1e293b;
  border-radius: 6px;
  margin-top: 20px;
  overflow: hidden;
}

.progress-bar div {
  height: 100%;
  background: linear-gradient(90deg,#3b82f6,#6366f1);
  transition: 0.3s;
}

.stats-grid {
  margin: 35px 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
}

.stat {
  padding: 30px;
  border-radius: 20px;
  color: white;
}

.stat.safe {
  background: linear-gradient(135deg,#22c55e,#16a34a);
}

.stat.medium {
  background: linear-gradient(135deg,#facc15,#eab308);
  color: #111;
}

.stat.high {
  background: linear-gradient(135deg,#ef4444,#b91c1c);
}

.table-wrap {
  margin-top: 40px;
  background: var(--card);
  border-radius: 22px;
  padding: 30px;
}

.download-btn {
  margin-bottom: 20px;
  background: linear-gradient(135deg,#22c55e,#16a34a);
  color: white;
  padding: 12px 22px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 14px;
  border-bottom: 1px solid #334155;
}

.badge {
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 13px;
}

.badge.safe {
  background: #22c55e;
  color: white;
}

.badge.medium {
  background: #facc15;
  color: #111;
}

.badge.high {
  background: #ef4444;
  color: white;
}
